.form {
  width: 100%;
}
.form-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;

  color: $title-text-color;
  margin-bottom: 12px;
}
.icon-form-container {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
}

// form-field
.form-field {
  display: block;
  margin-bottom: 10px;
}
.form-imput {
  width: 100%;
  height: 40px;

  padding-left: 35px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;

  &:focus-within {
    border: 1px solid $accent-text-color;
    outline: none;
  }

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .form-field:focus-within & {
    fill: $accent-text-color;
  }
}
.form-label {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;

  color: $primary-text-color;

  display: block;
  margin-bottom: 6px;
}

// textarea
.coment-input {
  display: block;
  resize: none;
  width: 100%;
  height: 120px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  padding: 12px 16px;
  margin-bottom: 20px;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &::placeholder {
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;

    color: rgba(117, 117, 117, 0.5);
  }

  &:focus-within {
    border: 1px solid $accent-text-color;
    outline: none;
  }
}

// checkbox
.checkbox-label {
  display: inline-flex;
  align-items: center;

  color: $primary-text-color;
  padding-left: 12px;
  margin-bottom: 30px;

  &::before {
    content: '';
    display: inline-block;

    width: 16px;
    height: 15px;
    background-color: transparent;

    border-width: 2px;
    border-style: solid;
    border-color: $title-text-color;
    border-image: initial;
    border-radius: 4px;

    margin-right: 8px;

    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .checkbox-input:checked + & {
      background-image: url(../images/check.svg);
      background-color: $accent-text-color;
      background-origin: border-box;
      background-size: contain;
      border-color: transparent;
    }
    .checkbox-input:focus + & {
      box-shadow: 0 0 0 0.1em $title-text-color;
    }
    .checkbox-input:disabled + & {
      border: 2px solid $icon-color;
    }
    .checkbox-input:checked:disabled + & {
      background-color: $icon-color;
    }
  }
}
.contract-link {
  color: $accent-text-color;
  margin-left: 6px;
}
.checkbox-input {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
// form-submit-button
.form-submit-btn-wrapper {
  display: flex;
  justify-content: center;

  & .btn {
    padding: 10px 50px;
  }
}
