.flex-container {
  display: flex;
  align-items: center;
}
.header-nav {
  display: flex;
  align-items: center;
}
.site-nav {
  @extend %list;
  display: flex;
}
.nav-item {
  &:not(:last-child) {
    margin-right: 50px;
  }
}

.nav-link.contact {
  color: $primary-text-color;
}

.nav-link {
  @extend %link;
  position: relative;

  display: inline-flex;
  align-items: center;
  padding: 32px 0;

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: $title-text-color;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $accent-text-color;
  }

  &.current::after,
  &.scale::after {
    content: '';
    display: block;

    position: absolute;
    left: 0;
    bottom: 0;

    width: 100%;
    height: 4px;

    background: $accent-text-color;
    border-radius: 2px;
  }

  &.scale::after {
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transform: scaleX(0);
  }
  &.scale:hover::after,
  &.scale:focus::after {
    transform: scaleX(1);
  }

  &.current {
    color: $accent-text-color;
  }
}

.icon-mail,
.icon-phone {
  margin-right: 10px;
  fill: currentColor;
}
.site-contacts {
  @extend %list;
  display: flex;
  margin-left: auto;
}
.nav-contacns {
  display: inline-flex;
  align-items: center;

  &:not(:last-child) {
    margin-right: 50px;
  }
}
