.hero {
  padding: 200px 0;
  text-align: center;
  background-color: var(--bgc-hero-color);

  max-width: 1600px;
  height: 600px;
  margin: 0 auto;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url('../images/hero/hero-img.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #2f303a;

  & .btn {
    padding: 10px 28px;
  }
}

.hero-title {
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  color: var(--white-text-color);
  letter-spacing: 0.06em;

  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.main-text {
  max-width: 696px;
  margin-left: auto;
  margin-right: auto;
}
