.border-portfolio {
  outline: 1px solid #ececec;
}
.portfolio-list {
  @extend %list;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 34px;
}
.portfolio-title {
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.06em;
  color: $title-text-color;

  margin-bottom: 4px;
}
.portfolio-text {
  color: $primary-text-color;
  font-size: 16px;
  line-height: 1.87;
}
.card-description {
  padding: 20px 20px;
}
.portfolio-item {
  &:not(:last-child) {
    margin-right: 8px;
  }
}
