// :root {
//   --primary-text-color: #757575;
//   --title-text-color: #212121;
//   --footer-text-color: rgba(255, 255, 255, 0.6);
//   --white-text-color: #ffffff;
//   --black-text-color: #000000;
//   --accent-text-color: #2196f3;
//   --bgc-hero-color: #2f303a;
//   --bgc-team-color: #f5f4fa;
//   --icon-color: #afb1b8;
//   --main-font: 'Roboto', sans-serif;
//   --logo-font: 'Raleway', sans-serif;
// }

// SASS Переменные
$primary-text-color: #757575;
$title-text-color: #212121;
$footer-text-color: rgba(255, 255, 255, 0.6);
$white-text-color: #ffffff;
$black-text-color: #000000;
$accent-text-color: #2196f3;
$bgc-hero-color: #2f303a;
$bgc-team-color: #f5f4fa;
$icon-color: #afb1b8;
$main-font: 'Roboto', sans-serif;
$logo-font: 'Raleway', sans-serif;
